<nav class="navbar navbar-inverse gapforheader">
  <div class="container-fluid">
    <div class="navbar-header gapforheader">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand logotext" href>profilo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav pull-right">
      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-home iconstyle"></i></p>
        <p>Dashboard<p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-user iconstyle"></i></p>
        <p>New profiles<p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-book iconstyle"></i></p>
        <p>Client Management<p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class=" glyphicon glyphicon-tree-deciduous iconstyle"></i></p>
        <p>filter Setup <p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-list iconstyle"></i></p>
        <p>Engagement<p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-stats iconstyle"></i></p>
        <p>Analytics<p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-calendar iconstyle"></i></p>
        <p>Calendar<p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-cog iconstyle"></i></p>
        <p>Administration<p>
        </a>
      </li>

      <li class="textCenter">
        <a href>
        <p><i class="glyphicon glyphicon-bell iconstyle"></i></p>
        <p>Notification<p>
        </a>
      </li>
    </ul>

    </div>
  </div>
</nav>
