<nav class="navbar navbar-inverse">
  <div class="container-fluid"> 
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li> 
        <button type="button" class="dropdown-toggle btn-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sean caputo
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href>Profile</a></li>
      <li><a href>Info</a></li>
    </ul></li>
        <li><button class="btn btn-danger gapbtn" ng-click="logout();">Logout</button></li>
      </ul>
    </div>
  </div>
  </nav>
